{% extends "layout.html" %}
{% block content %}

<!-- <div class="bg-light text-secondary px-4 py-5 text-center"> -->
    <div class="py-5 text-secondary text-center">
        <h1 class="display-5 fw-bold text-success">Satient</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Keeping tabs with energy consumptions.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Login</button>
                <button type="button" class="btn btn-outline-success btn-lg px-4">Sign up</button>
            </div>
        </div>
    </div>
<!-- </div> -->

{% endblock content %}