<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    
    <script src="{{ url_for('static', filename='scripts/currentDate.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- <script href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.js"></script> -->

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/settingsModal.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-C3PDvnph6wVCkVXs0IwK7WjJgJo+UYKbFYW7Rz4Vwylcg5ejHTF7wB+4iOd36vMm5g4vTnZzVtGDSx2jPrmq2g==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Satient</title>
    {% endif %}
</head>
<body>

    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <span class="fs-3">Satient</span>    
                </a>
            </div>
    
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{{ url_for('base') }}" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="{{ url_for('home') }}" class="nav-link px-2 link-light">Action Center</a></li>
                <!-- <li><a href="#" class="nav-link px-2">Pricing</a></li>
                <li><a href="#" class="nav-link px-2">FAQs</a></li>
                <li><a href="#" class="nav-link px-2">About</a></li> -->
            </ul>
    
            <div class="col-md-3 text-end">
                {% if current_user.is_authenticated %}
                    <div class="dropdown open text-end">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ url_for('static', filename='images/funnyCat.jpg') }}" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" id="dropdown-menu" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#" id="settingsButton">Settings</a></li>
                            <li><a class="dropdown-item" href="#" id="profileButton">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{{ url_for('logout') }}">Sign out</a></li>
                        </ul>
                    </div>
                {% else %}
                    <button type="button" class="btn btn-outline-primary me-2">
                        <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                    </button>
                    <button type="button" class="btn btn-primary">
                        <a class="nav-item nav-link" href="{{ url_for('register') }}">Sign Up</a></a>
                    </button>
                {% endif %}            
            </div>
        </header>
      </div>

    <!-- The settings modal -->
    <div id="settingsModal" class="modal">
        <div class="modal-content">
            <span class="close" id="settingsClose">&times;</span>
            <h2>Settings</h2>
            <!-- Settings options -->
            <label for="darkMode">Dark Mode:</label>
            <input type="checkbox" id="darkMode">
            <!-- Add more settings options here -->
        </div>
    </div>

    <!-- The profile modal -->
    <!-- <div id="profileModal" class="modal"> -->
        <!-- <div class="modal-content"> -->
            <!-- <span class="close" id="profileClose">&times;</span> -->
            <!-- <h2>Profile</h2> -->
            <!-- Profile details -->
            <!-- Add profile details here -->
        <!-- </div> -->
    <!-- </div> -->

    

    <main role="main" class="container"
        {% if title == "Satient" %}
            id="main-overall-index"
        {% else %}
            id="main-overall"
        {% endif %}
    >

        <div class="row">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                    {{ message }}
                    </div>
                {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        

        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <p
                {% if title == 'Satient'%}
                    class="col-md-4 mb-0 text-white"
                {% else %}
                    class="col-md-4 mb-0 text-muted"
                {% endif %} 
              >© 2024 Company, Inc</p>
          
              <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              </a>
          
              <!-- <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
              </ul> -->
            </footer>
        </div>
    </main>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts/changeExpModal.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/energyHistory.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/settingsModal.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/profileModal.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/averageConsumption.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/currentTempHumid.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/energyHistoryPlot.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/addAppliance.js') }}"></script>
</body>
</html>